/* Webfont: LatoLatin-HairlineItalic */@font-face {
    font-family: 'LatoLatinWebHairline';
    src: url('fonts/LatoLatin-HairlineItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/LatoLatin-HairlineItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-HairlineItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/LatoLatin-HairlineItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
