/* Webfont: LatoLatin-HeavyItalic */@font-face {
    font-family: 'LatoLatinWebHeavy';
    src: url('fonts/LatoLatin-HeavyItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/LatoLatin-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-HeavyItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/LatoLatin-HeavyItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
